<!-- <input type="text" [value]="'Game 1'" (change)="handleSearchChange($event)" placeholder="Search for a game"> -->
<input type="text" [(ngModel)]="searchText" placeholder="Search for a game">
Searched value: {{ searchText }}

<ul #gamesContainer>
    <!-- for( let game of games ) -->
    <li *ngFor="let game of games">
        <!-- <su-game-item *ngIf="shouldShowGameItemComponent"> -->
        <su-game-item [game]="game">

        </su-game-item>

        <!-- Game: {{game.title}} -->

        <!-- <span [style.font-size]="'25px'" [style.color]="'red'" *ngIf="game.price > 50"> -->
        <!-- <span class="game-price" *ngIf="game.price > 50"> -->
        <!-- <span [class.game-price]="shouldPriceByRed" *ngIf="game.price > 50">
            Price: {{game.price}}
        </span> -->

        <!-- <span>
            <img [src]="game.img" alt="" width="100px">
        </span> -->
    </li>
</ul>

<div>
    Total games: {{gamesContainer.children.length}}
</div>

<button (click)="handleCreateOrDestroyGameItem()">
    {{shouldShowGameItemComponent ? 'Destroy Game Item Component' : 'Create Game Item Component'}}
</button>

<button (click)="handleExpandContentClick(gamesContainer)">
    {{shouldPriceByRed ? 'Make Price Dark' : 'Make Price Red'}}
</button>